<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Plymouth Room/Appointment Booking </a>
    <ul>


      <li><a href="/buildings/new">Add new Building</a></li>
      <li><a href="/buildings">Building search</a></li>
      <li><a href="/students/new">Student Registration</a></li>
      <li><a href="/students">search student</a></li>
      <li><a href="/appointments">Appointments LIST</a></li>
      <li><a href="/appointments/new">Booking</a></li>
      <li><a href="http://localhost:5000">Plymouth R/A Chat</a></li>
      <li><a href="https://www.youtube.com/watch?v=YAaD0jsYgQ8">USER GUIDE</a></li>

    </ul>
  </nav>
</header>
